header{
    position: relative;


    .logo{
        font-weight: 800;
        font-size: 26px;
    }

    .nav{
        float: right;
        list-style: none;

        li{
            display: inline;
            margin-left: 25px;
            cursor: pointer;
            font-size: 20px;
            font-weight: 600;
            transition: opacity 500ms ease;
        

            &:hover{
                opacity: 0.3;
            }
        }
    }

    .shopCartButton{
        float: right;
        cursor: pointer;
        font-size: 25px;
        transition: color, transform 500ms ease;


    
        &:hover,
        &.active {
            color: rgba(242, 0, 157, 0.636);
            transform: scale(1.5);
        }
    }

    .shopCart{
        position: absolute;
        top: 30px;
        right: 0;
        width: 450px;
        min-height: 100px;
        background: #fb00fff5;
        -webkit-box-shadow: -18px 16px 32px 10px rgba(255, 0, 202, 0.5);
        -moz-box-shadow: -18px 16px 32px 10px rgba(255, 0, 202, 0.5);
        box-shadow: -18px 16px 32px 10px rgba(255, 0, 202, 0.5);
        z-index: 1000;

    }

    .presentation{
        margin: 50px 0;
        background: url(./../../assets/bunner.jpg) no-repeat;
        width: 100%;
        height: 500px;
        background-size: cover;
        background-position: center center;
        background-blend-mode: multiply;
        background-color: rgba(247, 99, 197, 0.456);
        position: relative;
        border-radius: 15px;
    

        &::after{
            content: 'Мыло для души и тела';
            color: rgb(11, 177, 177);
            position: absolute;
            top: 350px;
            left: 170px;
            width: 500px;
            font-size: 40px;
        }
    
        &::before{
            content: 'Сделано с любовью!';
            color: rgb(105, 20, 87);
            position: absolute;
            top: 40px;
            left: 530px;
            width: 500px;
            font-size: 30px;
        }
    }
}

